body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(Imagens/mesa-de-madeira.jpg);
}

#barra {
    background-color: #b07550;
    position: fixed;
    height: 100vh;
    width: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.caixa {
    background-color: black;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#d4 {
	border-left: 1.7rem solid transparent;
	border-right: 1.7rem solid transparent;
	border-bottom: 3rem solid #A1EFDB;
}

#d4 p {
    position: relative;
    top: 2rem;
}

#d6 {
    border: 1.5rem solid #EFA1B6;
}

#d8 {
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    border-bottom: 2rem solid #B9A1EF;
    position: relative;
    top: -15px;
}

#d8 p {
    top: 2rem;
    position: relative;
    z-index: 1;
}

#d8:after {
    content: '';
    position: absolute;
    left: -24px;
    top: 2rem;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    border-top: 2rem solid #B9A1EF;
}

#d10 {
    border-left: 1.8rem solid transparent;
    border-right: 1.8rem solid transparent;
    border-bottom: 1.8rem solid #D8EFA1;
    position: relative;
    top: -15px;
}

#d10 p {
    position: relative;
    top: 2rem;
    z-index: 1;
}

#d10:after {
    content: '';
    position: absolute;
    left: -29px;
    top: 1.8rem;
    border-left: 1.8rem solid transparent;
    border-right: 1.8rem solid transparent;
    border-top: 1.8rem solid #D8EFA1;
}

#d12 {
    width: 4rem;
    height: 1rem;
    background-color: #FFF63A;
    border-left: 1.8rem solid transparent;
    border-right: 1.8rem solid transparent;
    border-bottom: 1.8rem solid #FFF63A;
    position: relative;
    top: 15px;
}

#d12 p {
    padding-top: 1rem;
    z-index: 1;
}

#d12::after {
    content: '';
    position: absolute;
    left: -29px;
    top: -2rem;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    border-bottom: 2rem solid #FFF63A;
}

#d20 {
    width: 3rem;
    height: 1.3rem;
    background-color: #FFA33A;
    position: relative;
    top: -1px;
}

#d20 p {
    padding-top: 0.3rem;
    z-index: 1;
}

#d20:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 1.3rem;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    border-top: 1.3rem solid #FFA33A;
}

#d20:before {
    content: '';
    position: absolute;
    left: 0px;
    top: -1.24rem;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    border-bottom: 1.3rem solid #FFA33A;
}

#d100 {
    width: 3.9rem;
    height: 1.5rem;
    background-color: #FF3A3A;
    position: relative;
    top: -1px;
}

#d100 p {
    padding-top: 0.3rem;
    z-index: 1;
}

#d100:after {
    content: '';
    position: absolute;
    left: -1px;
    top: 1.4rem;
    width: 2rem;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1.3rem solid #FF3A3A;
}

#d100:before {
    content: '';
    position: absolute;
    left: -1px;
    top: -1.2rem;
    width: 2rem;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1.3rem solid #FF3A3A;
}

.guarda-dado {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25vh;
}

.borda {
    width: 22rem;
    height: 22rem;
    background-color: #b07550;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

.dentro {
    width: 19rem;
    height: 19rem;
    background-color: #854432;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

#numero-final {
    font-size: 4rem;
}

@media screen and (max-width: 600px) {
    .guarda-dado {
        padding-left: 6rem;
        padding-top: 15rem;
    }

    .borda {
        width: 15rem;
        height: 15rem;
    }

    .dentro {
        width: 12rem;
        height: 12rem;
    }

    #barra {
        justify-content: center;
    }

    #numero-final {
        font-size: 3rem;
    }
}